*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
}


.ContentArea{
  background-color: #f5f5f5;
  padding: 32px;
  min-width: 70%;
  min-height: 100vh;
  border : 1px solid #e0e0e0;

}

.NavBar{
  border-bottom: #e0e0e0 1px solid;
  margin-top: 32px;
  padding-bottom: 16px;
}

ul{
display: flex;
flex-direction: row;
justify-content: baseline;
padding: 0%;
gap: 32px;
}

li{
  list-style-type: none;
}

a{
  font-weight: 600;
  text-decoration: none;
  color:  #717171;
}


.photoGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin-top: 32px;

}

.imageCard{

width: 200px;
display: flex;
flex-direction: column;
gap: 8px;
}
 


.imgTitle{
 text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}


img{
 height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.sidebar{
  background-color: #ffffff;
  padding: 16px;
  min-height: 100vh;
  width: 30%;
}



